<div id="primary">
    <section class="center center-inside" id="app-login">
        <img src="/images/logo.svg" alt="App logo" id="app-logo" />
        <h1>Log in to continue</h1>
        <div class="divider"></div>
        <form method="POST" action="/submit-login">
            <input type="text" class="ctx" name="user" placeholder="USERNAME" autocomplete="off" required />
            <input type="password" class="ctx" name="pass" placeholder="PASSWORD" autocomplete="off" required />
            <input type="submit" value="LOGIN"/>
        </form>
    </section>
</div>