<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link href="/styles/global.css" rel="stylesheet" type="text/css" />
    <link href="/styles/custom.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <%- include('components/'+page) %>
</body>
</html>