<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vi~be • Login</title>
    <link href="/styles/global.css" rel="stylesheet" type="text/css" />
    <link href="/styles/login.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <div id="cover">
        <section id="content" class="glassy">
            <img src="/images/logo.svg" alt="App logo" id="logo" />
            <h1>Log in to continue</h1>
            <form method="POST" action="/submit-login" id="login">
                <input type="text" class="ctx" name="user" placeholder="USERNAME" autocomplete="off" required />
                <br />
                <input type="password" class="ctx" name="pass" placeholder="PASSWORD" autocomplete="off" required />
                <br />
                <input type="submit" value="LOGIN"/>
            </form>
            <form method="GET" action="/register" id="register">
                <input type="submit" value="OR REGISTER"/>
            </form>
        </section>
    </div>
</body>
</html>