body {
    background: #212329;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #212329, #2a2a2b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #212329, #2a2a2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#queue {
    width: 40vw;
    max-height: 75vh;
    margin: auto;
    margin-top: 15vh;
}