@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}
  
@keyframes breathing {
    0% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    50% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28rem;
    height: 48rem;
    margin: auto;
    margin-top: calc((100vh - 48rem) / 2);
}

#logo {
    width: 24vh;
    height: 24vh;
    margin-top: 5vh;
    -webkit-animation: breathing 8s ease-out infinite normal;
    animation: breathing 8s ease-out infinite normal;
}

h1 {
    font-size: 2rem;
}

.ctx {
    width: 20rem;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid var(--main-text-color);
    color: var(--main-text-color);
    letter-spacing: 1;
    font-size: 16px;
    background: transparent;
    opacity: 0.5;
    border-radius: 0 0 3px 3px;
}

.ctx:nth-child(1n) {
    margin-top: 2rem;
}

.ctx:focus {
    color: var(--main-text-color);
    opacity: 1;
}

input[name="key"] {
    background-image: url('/images/adminKey.svg');
    background-position: 9px 10px;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
}

input[name="user"] {
    background-image: url('/images/user.svg');
    background-position: 9px 10px;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
}

input[name="pass"] {
    background-image: url('/images/password.svg');
    background-position: 9px 10px;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
}

input[type="submit"] {
    margin-top: 2rem;
    width: 20rem;
    padding: 10px 20px;
    background: none;
    border: 1px solid var(--second-text-color);
    color: var(--second-text-color);
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1;
    font-size: 16px;
    border-radius: 0.5rem;
    transition: background 0.25s ease;
}

#main input[type="submit"]:hover {
    cursor: pointer;
    color: var(--main-text-color);
    background-color: var(--second-text-color);
}

#second input[type="submit"] {
    margin-top: 1rem;
    border: 1px solid var(--second-bg-color);
    color: var(--second-bg-color);
}

#second input[type="submit"]:hover {
    color: var(--main-text-color);
    background-color: var(--second-bg-color);
}

.validate {
    display: none;
    position: absolute;
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    color: var(--error-color);
}

#extra-check {
    display: none;
    position: absolute;
    margin-left: 0.75rem;
    margin-top: -1rem;
}

@media all and (min-height: 1150px) {
    #content {
        transform: scale(1.25);
    }
}

@media all and (min-height: 1300px) {
    #content {
        transform: scale(1.5);
    }
}

@media all and (min-height: 1450px) {
    #content {
        transform: scale(1.75);
    }
}

@media all and (min-height: 1600px) {
    #content {
        transform: scale(2);
    }
}

@media all and (max-width: 768px), (max-height: 920px) {
    :root {
        font-size: 12;
    }

    #content {
        width: 100vw;
        height: 100vh;
        margin: 0;
        border: none;
        border-radius: 0;
        transform: scale(1.25);
        box-shadow: none;
    }

    #logo {
        margin-top: calc(24vh - 5rem);
    }
}

@media all and (max-height: 768px) {
    #logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }

    #content {
        padding-top: calc(24vh - 5rem);
    }
}

@media all and (max-width: 428px) {
    #logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }

    #content {
        padding-top: calc(24vh - 5rem);
        transform: scale(1);
    }

    h1 {
        font-size: 8vw;
    }
}

@media all and (max-width: 320px) {
    #content form {
        transform: scale(0.9);
    }
}

@media all and (max-width: 290px) {
    #content form {
        transform: scale(0.8);
    }
}

@media all and (min-height: 1081px) {
    #logo {
        width: 18vh;
        height: 18vh;
    }
}

@media all and (min-height: 1500px) {
    #logo {
        width: 16vh;
        height: 16vh;
    }
}