@keyframes focus {
    from {width: 25%; border-radius: 30px;}
    to {width: 28%; border-radius: 25px;}
}

input[type="text"] {
    width: 20rem;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid var(--main-text-color);
    color: var(--main-text-color);
    letter-spacing: 1;
    font-size: 16px;
    background: transparent;
    opacity: 0.5;
    border-radius: 0 0 3px 3px;
}

input[type="text"]:focus {
    border-bottom: 2px solid var(--second-text-color);
    color: var(--main-text-color);
    opacity: 1;
}

input[type="submit"] {
    width: 25%;
    padding: 10px 20px;
    background: none;
    border: 1px solid var(--second-text-color);
    color: var(--second-text-color);
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1;
    font-size: 16px;
    border-radius: 30px;
    transition: 0.25s;
}

input[type="submit"]:hover {
    background-color: var(--second-text-color);
    color: var(--main-text-color);
}

/*
input:focus {
    animation-name: focus;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    border: 1px solid blue;
}
*/