@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

@keyframes wonder {
    0% {background-position: bottom left;}
    50% {background-position: top right;}
    100% {background-position: bottom left;}
}

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    color: #eeeeee;
    font-weight: 300;
    font-size: 16;
    letter-spacing: 1px;
    --main-text-color: #eeeeee;
    --second-text-color: #4ecca3;
    --main-bg-color: #232931;
    --second-bg-color: #393e46;
    --error-color: #ce1212;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    background-image: url('/images/background.svg');
    background-repeat: repeat;
    animation: wonder 50s linear infinite;
    animation-timing-function: linear;
    object-fit: cover;
    overflow: hidden;
}

#cover {
    width: 100vw;
    height: 100vh;
    background: rgba(35, 41, 49, 0.5);
    box-shadow: 0 8px 32px 0 rgba(35, 41, 49, 1);
    overflow: hidden;
}

.glassy {
    background: rgba( 35, 41, 49, 0.75 );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.center {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.center-inside {
    justify-content: center;
    align-self: center;
    align-content: center;
}