@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}
  
@keyframes breathing {
    0% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    50% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }
}

#app-login {
    width: 28rem;
    height: 48rem;
    background: rgba( 35, 41, 49, 0.8 );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#app-logo {
    margin-top: 5rem;
    margin-left: calc((28rem - 24vh) / 2);
    width: 24vh;
    height: 24vh;
    -webkit-animation: breathing 8s ease-out infinite normal;
    animation: breathing 8s ease-out infinite normal;
}

#app-login h1 {
    display: flex;
    font-size: 2rem;
    margin-left: 4rem;
    margin-bottom: 2.5rem;
}

#app-login .divider {
    position: relative;
    left: 1rem;
    margin-bottom: 2rem;
    width: 26rem;
    height: 1px;
    background-color: var(--second-bg-color);
}

#app-login #login {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}

#app-login .ctx {
    width: 20rem;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid var(--main-text-color);
    color: var(--main-text-color);
    letter-spacing: 1;
    font-size: 16px;
    background: transparent;
    opacity: 0.5;
    border-radius: 0 0 3px 3px;
}

#app-login .ctx:focus {
    color: var(--main-text-color);
    opacity: 1;
}

#app-login input[name="user"] {
    background-image: url('/images/user.svg');
    background-position: 9px 10px;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
}

#app-login input[name="pass"] {
    margin-top: 2rem;
    background-image: url('/images/password.svg');
    background-position: 9px 10px;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
}

#app-login input[type="submit"] {
    margin-top: 3rem;
    width: 20rem;
    padding: 10px 20px;
    background: none;
    border: 1px solid var(--second-text-color);
    color: var(--second-text-color);
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1;
    font-size: 16px;
    border-radius: 0.5rem;
    transition: background 0.25s ease;
}

#app-login input[type="submit"]:hover {
    cursor: pointer;
    color: var(--main-text-color);
    background-color: var(--second-text-color);
}

#app-login #register {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-top: 1rem;
}

#app-login #register input {
    margin-top: 0;
    border: 1px solid var(--second-bg-color);
    color: var(--second-bg-color);
}

#app-login #register input:hover {
    cursor: pointer;
    color: var(--main-text-color);
    background-color: var(--second-bg-color);
}

@media (max-width: 700px), (max-height: 770px) {
    :root {
        font-size: 12;
    }

    #app-login {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba( 35, 41, 49, 0.8 );
        justify-content: center;
        align-self: center;
        align-content: center;
        border-radius: 0;
        border: none;
        padding-left: calc(50vw - 14rem);
    }

    #app-login #login {
        margin-left: 8vw;
    }

    #app-login #register {
        margin-left: 8vw;
    }

    #app-logo {
        margin-top: calc(5rem - 24vh);
    }

    #app-login input[name="pass"] {
        margin-top: 1rem;
    }
}

@media (max-height: 700px) {
    #app-login .divider {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

@media (max-height: 550px) {
    #app-logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

@media (max-width: 400px) {
    #app-logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }

    #app-login h1 {
        font-size: 8vw;
        margin-left: 10vw;
    }

    #app-login .divider {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
}